@font-face {
  font-family: myFirstFont;
  src: url(fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(fonts/Lato-Regular.ttf);
}

body{
  background: #509880;
  display: flex;
  justify-content: center;
}

#main-title{
  font-size: 30px;
  font-family: myFirstFont;
  color: #010101;
  display: flex;
  justify-content: center;
}

#container{
  position: relative;
  width: 500px;
}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  width: 250px;
  height: 250px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  font-family: mySecondFont;
}

ul {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: mySecondFont;
}

a {
  text-decoration: none;
  padding: 20px;
  font-family: sans-serif;
  color: #FFF;
}

a:hover {
  background: #CCC;
}

a:visited {
  color: #000;
}
